@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .heading {
    color: #3D4E3A;
  }

  .fade-out {
    opacity: 0;
    filter: blur(8px);
    transition: all 2s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%) scale(1.02);
  }

  .fade-in {
    opacity: 1;
    filter: blur(0);
    transition: all 2s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%) scale(1);
  }
} 